.App div {
  /* display: flex; */
  justify-items: center;
  /* align-items: center; */
}
.navbar {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgb(239, 230, 248);
}
.HomeLink{
  margin: 10px;
  text-decoration: none;
  font-family: fantasy;
  font-weight: bold;
}
.TournamentLink {
  margin-left: 0px;
  text-decoration: none;
  font-family: fantasy;
  font-weight: bold;
}
.BracketLink {
  margin-left: 10px;
  text-decoration: none;
  font-family: fantasy;
  font-weight: bold;
}
